@use "bootstrap-icons/font/bootstrap-icons.scss";

@mixin align-container($justify, $align, $gap) {
    display: inline-flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

header {
    @include align-container(space-between, center, 0);
    background-color: var(--background-color);
    color: var(--primary-font-color);
    width: 100%;
    height: var(--header-height);
    padding: 25px var(--default-width-padding);
    position: fixed;
    z-index: 10;

    div {
        @include align-container(center, center, 15px);

        h1 {
            font-size: var(--font-size-h1-header);
        }

        i {
            font-size: var(--font-size-h1-header);
            cursor: pointer;
        }
    }

    nav {
        ul {
            @include align-container(center, center, 10px);
            list-style-type: none;
            font-size: var(--font-size-p-header);

            button {
                padding: 0;
                border: none;
                outline: none;
                background-color: transparent;

                i {
                    font-size: var(--font-size-icon);
                    cursor: pointer;
                    color: var(--primary-font-color);
                }
            }

            select {
                font-size: var(--font-size-p-header);
                background-color: transparent;
                color: var(--primary-font-color);
                border: 1.5px solid var(--primary-font-color);
                padding: 10px 5px 10px 5px;
                border-radius: 5px;
                outline: none;
                cursor: pointer;

                option {
                    background-color: var(--background-color);
                    border: 1.5px solid var(--primary-font-color);
                }
            }

            li:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}