<header>
    <div>
        <h1>Gabriel Florindo</h1>
        <i class="bi bi-github"></i>
    </div>
    
    <nav>
        <ul>
            <li>Início</li>
            <li>Sobre</li>
            <li>Projetos</li>
            <li>Habilidades</li>
            <li>Contato</li>

            <button (click)="changeColorTheme()">
                @if (actualTheme == "dark-theme") {
                    <i class="bi bi-brightness-high" title="Ativar tema claro"></i>
                } @else {
                    <i class="bi bi-moon" title="Ativar tema escuro"></i>
                }
            </button>

            <!-- <button >Dropdown aqui</button> -->
            <select name="" id="" [(ngModel)]="idioma" (ngModelChange)="onChangeIdioma($event)">
                <option value="pt-br">🇧🇷 Português</option>
                <option value="eng">🇺🇸 English</option>
            </select>
        </ul>
    </nav>
</header>