$primary-color: #8B5CF6;
$secondary-color: #C4B5FD;
$accent-color: #6366F1;
$background-color: #F8FAFC;
$card-background-color: #FFFFFF;
$primary-font-color: #0F172A;
$secondary-font-color: #475569;
$primary-neon-color: #8a5cf64b;

.light-theme {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --background-color: #{$background-color};
  --card-background-color: #{$card-background-color};
  --primary-font-color: #{$primary-font-color};
  --secondary-font-color: #{$secondary-font-color};
  --primary-neon-color: #{$primary-neon-color};

  // icon do card-habilities é uma imagem, ent precisa dessa gambiarra para mudar com o tema
  #icon-card-habilities {
    filter: invert(39%) sepia(98%) saturate(3015%) hue-rotate(239deg) brightness(101%) contrast(93%);
  }
}