<!-- <section (click)="teste('clicou no OVERLAY')">
    <div (click)="teste('clicou no modal')">
        TESTE
    </div>
</section> -->


<section>
    <div class="overlay" (click)="closeModal()"></div>

    <div class="modal">
        <h1>Titulo: {{ modalContent ? modalContent.title : "Carregando..." }}</h1><br>
        <p>Conteudo: {{ modalContent ? modalContent.text : "Carregando..." }}</p><br>
        <p>Img path: {{ modalContent ? modalContent.img : "Carregando..." }}</p>
    </div>
</section>