<section class="section-geral">
    <div class="overlay" (click)="closeModal()"></div>

    <div class="modal">
        <i class="bi bi-x-lg btn-fechar" (click)="closeModal()"></i>

        <div class="swiper carousel">
            <div class="wrapper swiper-wrapper">
                @if (modalContent) {
                    @for (img of modalContent.img; track $index) {
                        <div class="slide swiper-slide">
                            <img [src]="img" alt="img-projeto">
                        </div>
                    }
                } @else {
                    <div class="slide swiper-slide">
                        <h1 class="img-carregando">Carregando imagens...</h1>
                    </div>
                    <div class="slide swiper-slide">
                        <h1 class="img-carregando">Carregando imagens...</h1>
                    </div>
                }
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <section class="escrita">
            <h1>{{ `projects.${id}.title.h1` | translate }}</h1>

            <div>
                <h3>{{ `projects.${id}.title.introducao` | translate }}</h3>
                <p>{{ `projects.${id}.text.introducao` | translate }}</p>

                <h3>{{ `projects.${id}.title.objetivo` | translate }}</h3>
                <p>{{ `projects.${id}.text.objetivo` | translate }}</p>

                <h3>{{ `projects.${id}.title.tecnologias` | translate }}</h3>
                <ul>
                    @if ((`projects.${id}.text.tecnologias.front-end` | translate).length != 0) {
                        <li>
                            {{ `projects.${id}.title.front` | translate }}:
                            {{ `projects.${id}.text.tecnologias.front-end` | translate }};
                        </li>
                    }
                    @if ((`projects.${id}.text.tecnologias.back-end` | translate).length != 0) {
                        <li>
                            {{ `projects.${id}.title.back` | translate }}:
                            {{ `projects.${id}.text.tecnologias.back-end` | translate }};
                        </li>
                    }
                    @if((`projects.${id}.text.tecnologias.banco-de-dados` | translate).length != 0) {
                        <li>
                            {{ `projects.${id}.title.banco` | translate }}:
                            {{ `projects.${id}.text.tecnologias.banco-de-dados` | translate }};
                        </li>
                    }
                    @if((`projects.${id}.text.tecnologias.servidor` | translate).length != 0) {
                        <li>
                            {{ `projects.${id}.title.server` | translate }}:
                            {{ `projects.${id}.text.tecnologias.servidor` | translate }};
                        </li>
                    }
                </ul>

                <h3>{{ `projects.${id}.title.comentario` | translate }}</h3>
                <p>{{ `projects.${id}.text.comentario-extra` | translate }}</p>
            </div>

            @if(modalContent && modalContent.link != "" && modalContent.link != null) {
                <a [href]="modalContent.link" target="_blank" rel="noopener noreferrer">{{ `projects.${id}.button` | translate}}</a>
            }
        </section>
    </div>
</section>