// GLOBAL STYLES
@use './app/themes/dark-theme.scss';
@use './app/themes/light-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-size-h1-header: 1.25vw;
    --font-size-p-header: 1.05vw;
    --font-size-icon: 1.2vw;

    --font-size-h1: 1.75vw;
    --font-size-p: 1.15vw;

    --profile-image-size: 20vw;

    --font-size-icon: 1.2vw;
    --default-width-padding: 75px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    transition: color 0.3s ease, background-color 0.3s ease;
}